@import url("./tab_window.css");

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*:focus {
  transition: outline 0s !important;
}

*:focus-visible {
  outline: 4px dashed orange !important;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background-color: rgb(63, 41, 0);
}

button {
  cursor: pointer;
}

#mytabs {
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pad {
  height: 500px;
}
