body {
  font-family: Arial;
}

button { cursor: pointer; }

.box {
  width: min-content;
  border-width: 25px;

  .inner {
    width: 504px;
    height: 200px;
    font: 20px "Comic Sans MS", "Comic Sans", Arial;
    resize: both;
    overflow: hidden;
    outline: none;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.wavy-border {
  border-style: solid;
  border-image: url("./border.svg") fill 25% round;
}
